<aside
  id="default-sidebar"
  class="fixed left-0 top-0 z-40 h-screen w-72 -translate-x-full transition-transform sm:translate-x-0"
  aria-label="Sidebar"
>
  <div
    class="flex h-full flex-col gap-5 overflow-y-auto bg-primaryBlue py-4 text-white"
  >
    <a
      class="mb-4 p-2 px-5 text-4xl font-extrabold leading-none tracking-tight text-white hover:cursor-pointer md:text-5xl lg:text-4xl"
    >
      Playlist
    </a>

    <ul class="flex-col justify-center space-y-2 px-3 font-medium">
      <li>
        <a
          href="#"
          class="group flex items-center rounded-lg p-2 text-white hover:bg-gray-700"
        >
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-500 transition duration-75 group-hover:text-white"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M9 19C9 20.1046 7.65685 21 6 21C4.34315 21 3 20.1046 3 19C3 17.8954 4.34315 17 6 17C7.65685 17 9 17.8954 9 19ZM9 19V5L21 3V17M21 17C21 18.1046 19.6569 19 18 19C16.3431 19 15 18.1046 15 17C15 15.8954 16.3431 15 18 15C19.6569 15 21 15.8954 21 17ZM9 9L21 7"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
          <span class="ms-3">My Playlist</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="group flex items-center rounded-lg p-2 text-white hover:bg-gray-700"
        >
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 flex-shrink-0 text-gray-500 transition duration-75 group-hover:text-white"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
          <span class="ms-3 flex-1 whitespace-nowrap">Last Listening</span>
        </a>
      </li>

      <li>
        <a
          href="#"
          class="group flex items-center rounded-lg p-2 text-white hover:bg-gray-700"
        >
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 flex-shrink-0 text-gray-500 transition duration-75 group-hover:text-white"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
          <span class="ms-3 flex-1 whitespace-nowrap">Recomended</span>
        </a>
      </li>
    </ul>

    <ul class="mt-5 flex-col justify-center space-y-2 font-medium">
      <li *ngFor="let music of PlaylistMusic; index as index">
        <button
          class="group flex w-full items-center p-2 text-start text-white hover:bg-secondaryBlue/40"
          (click)="playSelectedMusic(music, index)"
        >
          <p class="text-sm text-white/40">0{{ index + 1 }}</p>

          <div class="ms-4 flex w-full items-center">
            <img [src]="music.image" alt="image" class="h-10 w-10" />

            <div class="ms-3 flex-1 whitespace-nowrap text-sm capitalize">
              <!-- SINGER -->
              <p>{{ music.title }}</p>
              <!-- TITLE -->
              <p class="text-white/40">{{ music.singer }}</p>
            </div>

            <button [attr.data-popover-target]="music.title">
              <svg
                class="h-8 w-8 text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-width="2"
                  d="M12 6h.01M12 12h.01M12 18h.01"
                />
              </svg>
            </button>

            <div
              data-popover
              [id]="music.title"
              role="tooltip"
              class="invisible absolute z-10 inline-block w-52 rounded-lg border border-gray-200 bg-white text-sm text-gray-500 opacity-0 shadow-sm transition-opacity duration-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400"
            >
              <div
                class="rounded-t-lg border-b border-gray-200 bg-gray-100 px-3 py-2 dark:border-gray-600 dark:bg-gray-700"
              >
                <h3 class="font-semibold text-gray-900 dark:text-white">
                  {{ music.title }}
                </h3>
              </div>
              <div class="px-3 py-2">
                <p>
                  {{ music.singer }}
                </p>
              </div>
              <div data-popper-arrow></div>
            </div>
          </div>
        </button>
      </li>
    </ul>
  </div>
</aside>

<footer
  class="fixed bottom-0 z-50 w-full border-t-2 border-white bg-primaryBlue transition-all"
>
  <div
    class="relative mx-auto flex w-full max-w-screen-xl items-center justify-between p-4 md:flex md:max-w-full md:items-center"
  >
    <!-- MUSIC INFO -->
    <div class="mb-5 hidden w-fit items-center gap-1 text-white md:flex">
      <button>
        <svg
          fill="#088395"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          enable-background="new 0 0 24 24"
          stroke="#088395"
          class="h-5 w-5"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M6,13H2c-0.6,0-1,0.4-1,1c0,0,0,0,0,0v8c0,0.6,0.4,1,1,1c0,0,0,0,0,0h4c0.6,0,1-0.4,1-1c0,0,0,0,0,0v-8C7,13.4,6.6,13,6,13C6,13,6,13,6,13z M22,9h-4c-0.6,0-1,0.4-1,1c0,0,0,0,0,0v12c0,0.6,0.4,1,1,1c0,0,0,0,0,0h4c0.6,0,1-0.4,1-1c0,0,0,0,0,0V10C23,9.4,22.6,9,22,9C22,9,22,9,22,9z M14,1h-4C9.4,1,9,1.4,9,2c0,0,0,0,0,0v20c0,0.6,0.4,1,1,1c0,0,0,0,0,0h4c0.6,0,1-0.4,1-1c0,0,0,0,0,0V2C15,1.4,14.6,1,14,1C14,1,14,1,14,1z"
            ></path>
          </g>
        </svg>
      </button>

      <img
        src="https://www.pluggedin.com/wp-content/uploads/2020/01/Imagine_Dragons__Thunder__Large.jpg-1024x587.jpeg"
        alt="image"
        class="ms-1 h-10 w-10"
      />

      <div class="ms-3 flex-1 whitespace-nowrap text-xs capitalize md:text-sm">
        <!-- SINGER -->
        <p>Imagine Dragons</p>
        <!-- TITLE -->
        <p class="text-white/40">Thunder</p>
      </div>
    </div>
    <!-- MUSIC INFO -->

    <!-- REPEAT AND MIX CONTROL -->
    <div class="mb-5 flex w-fit items-center gap-3 md:gap-5">
      <button>
        <svg
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
          fill="#EBF4F6"
          class="bi bi-shuffle h-5 w-5 hover:scale-110"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              fill-rule="evenodd"
              d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"
            ></path>
            <path
              d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"
            ></path>
          </g>
        </svg>
      </button>
      <button>
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 hover:scale-110"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.46967 2.46967C8.76256 2.17678 9.23744 2.17678 9.53033 2.46967L11.5303 4.46967C11.7448 4.68417 11.809 5.00676 11.6929 5.28701C11.5768 5.56727 11.3033 5.75 11 5.75H9C5.54822 5.75 2.75 8.54822 2.75 12C2.75 15.4517 5.54846 18.25 9.00028 18.25H9.5C9.91421 18.25 10.25 18.5858 10.25 19C10.25 19.4142 9.91421 19.75 9.5 19.75H9.00028C4.72011 19.75 1.25 16.2802 1.25 12C1.25 7.71979 4.71979 4.25 9 4.25H9.18934L8.46967 3.53033C8.17678 3.23744 8.17678 2.76256 8.46967 2.46967ZM13.75 5C13.75 4.58579 14.0858 4.25 14.5 4.25H15C19.2802 4.25 22.75 7.71979 22.75 12C22.75 16.2802 19.2802 19.75 15 19.75H14.8107L15.5303 20.4697C15.8232 20.7626 15.8232 21.2374 15.5303 21.5303C15.2374 21.8232 14.7626 21.8232 14.4697 21.5303L12.4697 19.5303C12.2552 19.3158 12.191 18.9932 12.3071 18.713C12.4232 18.4327 12.6967 18.25 13 18.25H15C18.4518 18.25 21.25 15.4518 21.25 12C21.25 8.54822 18.4518 5.75 15 5.75H14.5C14.0858 5.75 13.75 5.41421 13.75 5Z"
              fill="#EBF4F6"
            ></path>
          </g>
        </svg>
      </button>
    </div>

    <div class="w-fit">
      <!-- CONTAINER MUSIC CONTROL -->
      <div class="mb-5 flex w-full items-center justify-center gap-5 md:gap-2">
        <!-- PREVIOUS -->
        <button>
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 transition-all hover:scale-110"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M20.2409 7.21957V16.7896C20.2409 18.7496 18.1109 19.9796 16.4109 18.9996L12.2609 16.6096L8.11094 14.2096C6.41094 13.2296 6.41094 10.7796 8.11094 9.79957L12.2609 7.39957L16.4109 5.00957C18.1109 4.02957 20.2409 5.24957 20.2409 7.21957Z"
                fill="#EBF4F6"
              ></path>
              <path
                d="M3.76172 18.9303C3.35172 18.9303 3.01172 18.5903 3.01172 18.1803V5.82031C3.01172 5.41031 3.35172 5.07031 3.76172 5.07031C4.17172 5.07031 4.51172 5.41031 4.51172 5.82031V18.1803C4.51172 18.5903 4.17172 18.9303 3.76172 18.9303Z"
                fill="#EBF4F6"
              ></path>
            </g>
          </svg>
        </button>
        <button
          class="flex h-10 w-10 items-center justify-center rounded-full border border-white"
          (click)="togglePlayPause()"
        >
          <!-- PLAY -->
          <svg
            fill="#EBF4F6"
            width="24px"
            height="24px"
            viewBox="0 0 56 56"
            xmlns="http://www.w3.org/2000/svg"
            [ngClass]="{
              hidden: isPlaying,
              'ms-1 block h-7 w-7 transition-all hover:scale-110': !isPlaying,
            }"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M 13.0937 47.8398 C 14.0313 47.8398 14.8281 47.4648 15.7656 46.9258 L 43.0937 31.1289 C 45.0391 29.9805 45.7187 29.2305 45.7187 27.9883 C 45.7187 26.7461 45.0391 25.9961 43.0937 24.8711 L 15.7656 9.0508 C 14.8281 8.5118 14.0313 8.1602 13.0937 8.1602 C 11.3594 8.1602 10.2813 9.4727 10.2813 11.5118 L 10.2813 44.4649 C 10.2813 46.5039 11.3594 47.8398 13.0937 47.8398 Z"
              ></path>
            </g>
          </svg>
          <!-- STOP -->
          <svg
            viewBox="-1 0 8 8"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#EBF4F6"
            [ngClass]="{
              hidden: !isPlaying,
              'block h-5 w-5 transition-all hover:scale-110': isPlaying,
            }"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <title>pause [#EBF4F6]</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g
                id="Page-1"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g
                  id="Dribbble-Light-Preview"
                  transform="translate(-227.000000, -3765.000000)"
                  fill="#EBF4F6"
                >
                  <g id="icons" transform="translate(56.000000, 160.000000)">
                    <path
                      d="M172,3605 C171.448,3605 171,3605.448 171,3606 L171,3612 C171,3612.552 171.448,3613 172,3613 C172.552,3613 173,3612.552 173,3612 L173,3606 C173,3605.448 172.552,3605 172,3605 M177,3606 L177,3612 C177,3612.552 176.552,3613 176,3613 C175.448,3613 175,3612.552 175,3612 L175,3606 C175,3605.448 175.448,3605 176,3605 C176.552,3605 177,3605.448 177,3606"
                      id="pause-[#EBF4F6]"
                    ></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </button>
        <!-- NEXT -->
        <button>
          <svg
            viewBox="0 0 24 24"
            fill="none"
            width="24px"
            height="24px"
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 transition-all hover:scale-110"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M3.76172 7.21957V16.7896C3.76172 18.7496 5.89172 19.9796 7.59172 18.9996L11.7417 16.6096L15.8917 14.2096C17.5917 13.2296 17.5917 10.7796 15.8917 9.79957L11.7417 7.39957L7.59172 5.00957C5.89172 4.02957 3.76172 5.24957 3.76172 7.21957Z"
                fill="#EBF4F6"
              ></path>
              <path
                d="M20.2383 18.9303C19.8283 18.9303 19.4883 18.5903 19.4883 18.1803V5.82031C19.4883 5.41031 19.8283 5.07031 20.2383 5.07031C20.6483 5.07031 20.9883 5.41031 20.9883 5.82031V18.1803C20.9883 18.5903 20.6583 18.9303 20.2383 18.9303Z"
                fill="#EBF4F6"
              ></path>
            </g>
          </svg>
        </button>
      </div>

      <!-- CONTAINER CURRENT TIME -->
      <div
        class="absolute bottom-2 left-0 flex w-full items-center gap-2 px-5 text-sm text-white"
      >
        <p>{{ formatDuration(currentDuration) }}</p>

        <input
          id="steps-range"
          type="range"
          min="0"
          [max]="timeToSeconds(maxDuration)"
          [value]="currentDuration"
          step="1"
          (change)="saveRange($event)"
          class="h-2 w-full cursor-pointer appearance-none rounded-lg bg-gray-200 dark:bg-gray-700"
        />

        <p>{{ maxDuration }}</p>
      </div>
    </div>

    <!-- CONTAINER CONTROL AUDIO -->
    <div class="mb-5 flex w-32 items-center gap-1 text-white">
      <button>
        <svg
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
          class="h-5 w-5 text-white hover:scale-110"
        >
          <path
            d="M13 6.037c0-1.724-1.978-2.665-3.28-1.562L5.638 7.933H4c-1.105 0-2 .91-2 2.034v4.066c0 1.123.895 2.034 2 2.034h1.638l4.082 3.458c1.302 1.104 3.28.162 3.28-1.562V6.037Z"
          />
          <path
            fill-rule="evenodd"
            d="M14.786 7.658a.988.988 0 0 1 1.414-.014A6.135 6.135 0 0 1 18 12c0 1.662-.655 3.17-1.715 4.27a.989.989 0 0 1-1.414.014 1.029 1.029 0 0 1-.014-1.437A4.085 4.085 0 0 0 16 12a4.085 4.085 0 0 0-1.2-2.904 1.029 1.029 0 0 1-.014-1.438Z"
            clip-rule="evenodd"
          />
          <path
            fill-rule="evenodd"
            d="M17.657 4.811a.988.988 0 0 1 1.414 0A10.224 10.224 0 0 1 22 12c0 2.807-1.12 5.35-2.929 7.189a.988.988 0 0 1-1.414 0 1.029 1.029 0 0 1 0-1.438A8.173 8.173 0 0 0 20 12a8.173 8.173 0 0 0-2.343-5.751 1.029 1.029 0 0 1 0-1.438Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <input
        id="small-range"
        type="range"
        value="5"
        step="1"
        max="10"
        class="range-sm h-1 w-full cursor-pointer appearance-none rounded-lg bg-gray-200 dark:bg-gray-700"
      />
    </div>
  </div>
</footer>
